* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-rows: repeat(8, 64px);
  grid-template-columns: repeat(8, 64px);

  border: 2px solid rgba(0,0,0,.4);
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  position: relative;
  width: 48px;
  height: 48px;
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: #eed4cc;
}